[2017-10-30 18:57] millerhooks opened #1 "Metal: Error creating pipeline state (Hidden/InternalErrorShader): Vertex attribute POSITION0(0) is missing from the vertex descriptor (null) on Animation Scene [OSX]"
Love the project. Trying to get it working with [Google Draco](https://github.com/google/draco) this week and shoot you a pull request!

I'm having some issues with this Vertex POSITION attribute on the hidden shader. I've looked at the targeting and potentially how float4's are handled on Metal with the disk shader, but I fear I'm out of my depth in this side of shader land.

Unity 2017.3.0b6

ED

[2017-10-31 01:38] keijiro opened #2 "Metal support"
Metal doesn't have geometry shader. It has to be emulated by using compute + procedural indirect draw.

[2017-10-31 01:42] keijiro commented on #1
Geometry shader is not supported on Metal. That's why it doesn't work on Metal.

I created a new issue ticket #2 (Metal support) for this problem.

I'm closing this issue. Please feel free to reopen for further questions.

[2017-10-31 01:42] #1 closed

[2017-10-31 04:11] millerhooks commented on #2
Thanks so much for the quick response! I'm really new at this fancy shader stuff, but I found this discussion over here with this snippet.

I reading the shader stuff it looks to me that I'd do the combination in the geometry phase in `Disk.cginc`. I'm going to keep playing with it, but I figured I'd mention my thinking here and see if you have any resources to point me at. The topic seems to be s

[2017-10-31 05:20] keijiro commented on #2
That thread in the Apple forum is not relevant to Unity. Please ignore it. That's almost meaningless for this case.

I've implemented a non-geometry shader variant of the disk shader in compute-2 branch.
https://github.com/keijiro/Pcx/commits/compute-2

I rejected this variant because it's not performant compared to the original (geometry shader).

I've verified that it works on Metal, so, I shoul

[2017-10-31 05:25] millerhooks commented on #2
Oh perfect. That’ll get me where I’m going with this demo. Thank you!

[2017-11-11 12:36] millerhooks opened #3 "Google Draco Support"
Hey!

I want to say thanks so much for this repo. Actually all of your work has been an inspiration to me for the last year, I stumble onto your github a lot. I've been working to add Google Draco support to Pcx and I'm almost done! Also I am adding support to flipbook style keyframe through point clouds. It's really fast and rad.

https://github.com/millerhooks/draco/tree/unity_point_cloud_plugin

[2017-12-15 19:02] JakeMinerva opened #5 "X axis - Mirroring"
I am so appreciative of the work that you have done here. Pcx is going to be very valuable to my work. I have however noticed that my imported ply is mirrored about the X axis. I was able to confirm this by setting my x scale value to the inverse.
Not a major problem and probably irrelevant for many applications. However, I would be interested to hear if anyone else had noticed this or if I am doi

[2018-02-16 21:43] JakeMinerva opened #6 "invalid type used for 'SV_VertexID' input semantics, must be integral at line 53"
This is an error I have been receiving when trying to build my project.
 "Shader error in 'Point Cloud/Point': invalid type used for 'SV_VertexID' input semantics, must be integral at line 53 (on d3d11_9x)"
It is odd because I had no problem with the shader before and it runs perfectly in the editor.
I have even built to the same device using the point shader before without issues.

*This error on

[2018-02-16 22:21] #6 closed

[2018-03-29 20:38] ryanmeasel commented on #5
Unity is a left-handed coordinate system, so depending on where you are importing the cloud from, an axis could be flipped (if it's right handed for instance).

[2018-05-25 14:51] leaf918 opened #8 "can this manipulate each point by c#?"

[2018-05-25 16:04] keijiro commented on #8
At the moment, I'd say it's not practical. Manipulating points from C# can be 1,000 times slower than shader.

In the near future, it will become practical by utilizing the C# job system and the Burst compiler. I'll give them a try then.

[2018-05-26 06:59] leaf918 commented on #8
using GPU drawmeshinstance may fix my problem ,thanks.

[2018-06-19 06:32] ibilab opened #9 "Modifyng Geometry Shader"
Hi, i have a limited shader/coding  knowledge and couldn't find which values should be edited to assign a different base shape to the Disk geometry shader? Like a triangle shape or other primitives?
Thanks!

[2018-06-19 08:39] keijiro commented on #9
You can modify here to change the shape.

https://github.com/keijiro/Pcx/blob/master/Assets/Pcx/Shaders/Disk.cginc#L72

[2018-06-19 08:39] #9 closed

[2018-10-18 18:26] tarrabass opened #10 "ply using float double value"
Thanks for this add ones, it's running perfectly but
There are any chance that ply importer can read ply with float double value ?
thanks
francois

[2018-10-19 01:53] keijiro commented on #10
Could you provide a ply file that contains a minimum example of "ply with float double value"? Actually I'm not sure how it looks like.

[2018-10-19 07:34] tarrabass commented on #10
https://drive.google.com/file/d/1z9ykExhosExjW22nsAq_iw6xjOdw5Ir0/view?usp=sharing
i guess it's a type conversion into the plyImporter, but it's to complicated for my level

Thanks for your amazing work, you make my life easier
i did this video dance performance thanks to you
https://vimeo.com/294511607

[2018-11-26 10:52] iceleaf97 opened #11 "I can not import my point cloud file."
I imported my .ply file. However I got the error message.
![image](https://user-images.githubusercontent.com/19263557/49009702-2dceda00-f1ac-11e8-9876-88a6eefc8443.png)

How could I solve this problem?

[2018-11-29 10:11] davidthery commented on #11
Can you post also the header of your ply file ? Are you well using Binary little endian?

[2018-12-10 04:42] keijiro commented on #11
This might be the same issue as #10. The current implementation of PCX doesn't support double precision. I'm thinking of adding it when I have time for this project.

[2018-12-11 09:05] keijiro commented on #10
I added double precision type support in v0.1.1.

https://github.com/keijiro/Pcx/releases/tag/v0.1.1

Note that it's converted to single precision when imported. It supports importing double precision data but there is no technical merit to use it.

I'm closing this issue now. Please feel free to reopen for further issues.

[2018-12-11 09:05] keijiro commented on #11
I added double precision type support in v0.1.1.

https://github.com/keijiro/Pcx/releases/tag/v0.1.1

Note that it's converted to single precision when imported. It supports importing double precision data but there is no technical merit to use it.

I'm closing this issue now. Please feel free to reopen for further issues.

[2018-12-11 09:05] #11 closed

[2018-12-20 14:16] Rakiah opened #12 "Can this support realtime streaming of point cloud ?"
Hello, I was wondering if this system would work for realtime streaming of point cloud,

like a kinect/(lidare + camera) that is rendering in realtime in the unity scene ?

Thank you

[2018-12-21 02:13] keijiro commented on #12
Thanks for the feedback. There are a few questions:

- Is Kinect still a thing? The production was discontinued. Now it's not available for the regular price in Japan. I'm not sure when it completely disappears from shelves.
- Is there a simple API to retrieve a point cloud from the sensor? I have no experience on Kinect, so I have no idea how difficult it is.

[2018-12-21 11:13] Rakiah commented on #12
Hello @keijiro thanks for the quick response,
the kinect was just an example actually, what I mean is, would your renderer be able to compute in runtime point cloud without having very bad performance issue, would it be for example, able to take
[draco](https://github.com/google/draco/tree/master/unity) files in streaming and rearrange the generated mesh ? or is it just a shader rendering in a spe

[2018-12-21 14:05] keijiro commented on #12
Okay. Then, I have no clear answer. It sounds challenging but interesting.

[2019-01-02 06:35] iceleaf97 commented on #11
Thank you very much!

[2019-02-25 14:56] matvol commented on #10
Thanks for your work! Big help!
Still I can't import ply with double precision floating ("unsupported property type 'propert float64 x'")
Any idea what might be the problem?

https://www.dropbox.com/s/s3y7czm5bglcuxl/LAZ_EXTRACT_CONVERTED_TO_PLY.ply?dl=0

[2019-02-26 09:59] keijiro commented on #10
Thanks for pointing it out. I didn't know that there is another type name for double precision floating point numbers. I'll fix it later.

[2019-02-26 13:56] keijiro commented on #10
This issue was fixed in [v0.1.3](https://github.com/keijiro/Pcx/releases/tag/v0.1.3).

[2019-02-27 08:48] keijiro commented on #10
I'm closing this issue. Please feel free to reopen again for further issues.

[2019-02-27 08:48] #10 closed

[2019-02-27 08:49] keijiro commented on #8
I'm closing this issue now. Please feel free to reopen for further questions.

[2019-02-27 08:49] #8 closed

[2019-02-27 08:50] keijiro commented on #12
I'm closing this issue. Please feel free to reopen for further questions.

[2019-02-27 08:50] #12 closed

[2019-03-06 17:36] qian256 opened #14 "LOD support"
Awesome work!
Do you have any idea about how to enable Level of Detail control of point cloud rendering using your shaders?
One way I can think of is to discard some vertices in geometry shader, simply based on their vertexID.
You are very knowledgeable with Unity rendering, what would be your suggestion to integrate the LOD of this shader with Unity?

[2019-03-07 03:18] keijiro commented on #14
Before thinking about it, I'd like to define the premise.

- Why do you need LOD? I guess that you're experiencing slow down on your environment, but I'd like to make sure what the motive is.
- If you're experiencing slow down, how many points are there in the point cloud? Also I'd like to know the runtime environment (OS, CPU/GPU specs).

Defining the premise is important because it's not always

[2019-03-07 03:32] qian256 commented on #14
First, yes. My application is to render pointcloud on HoloLens. It is not super good computing device. With your point shader, it is able to render about 300k points. With disk shader, less than 100k points. Of course, under the condition that it renders at 60 fps (for good AR experience).
The point cloud can be always facing the user, will culling help in this case?

[2019-03-07 04:08] keijiro commented on #14
Okay. In that case, tweaking the per-point LOD is possibly an effective approach. What happens when changing this line:

https://github.com/keijiro/Pcx/blob/master/Assets/Pcx/Runtime/Shaders/Disk.cginc#L83

as follows:

[code]

If this change improves the performance, tweaks to the per-point LOD might work. If there is no performance gain, another approach (culling/decimating) should be taken.

[2019-03-07 17:40] qian256 commented on #14
Hi @keijiro ,
I actually tried doing that. But because the point shader is much faster than disk shader. Reducing the number of slices for disk shader is still slower than point shader (at least 3 vertex generated for each input vertex in disk shader). That's why I came to the solution of "discarding" vertex of point shader. Especially when the point cloud is like an RGBD dense cloud, where the "d

[2019-03-07 22:18] benwwinn opened #15 "Shadow-Cast Support"
All in the name. Any potential for feature to enable shadow casting or interaction with unity lighting at all?

[2019-03-07 23:08] keijiro commented on #15
The disk shader support casting shadows.

[2019-03-12 18:55] Levrden commented on #15
Hello !
I need the same too, but the disk shader is not working in HDRP
I assume i need to use the VfxGraph, but as i have a LOT of points, i need performance...Do you think that your shader is more efficient than if i use the shader graph ?
BTW Thanks for this plugin, it's easier than using Houdini to convert

[2019-03-13 00:55] keijiro commented on #15
At first, please note that Shader Graph is different from VFX Graph.

Regarding performance comparison between VFX Graph and the disk shader, it's supposed that there is almost no significant difference between them. In some extreme cases, it could be slower. In some other cases, it could be faster. I'd recommend trying VFX Graph if it can be an option for your project.

[2019-03-15 11:24] ECer23 opened #17 "Cannot import my ply file"
Here's my ply file header

[code]

[2019-03-18 09:04] keijiro commented on #17
As written in README, Pcx only supports PLY binary little-endian format at the moment. According to the file header, your ply file is exported in ASCII format. You have to convert it to the LE binary format or re-export it in the LE binary format.

[2019-03-18 09:54] ECer23 commented on #17
OK, thank you

[2019-03-18 09:54] #17 closed

[2019-03-26 21:50] Eytanm opened #18 "Getting build error"
After downloading repository and opening in various Unity versions, I still get errors:

Assets/Pcx/Editor/PlyImporter.cs(67,29): error CS1061: Type `UnityEditor.Experimental.AssetImporters.AssetImportContext' does not contain a definition for `AddObjectToAsset' and no extension method `AddObjectToAsset' of type `UnityEditor.Experimental.AssetImporters.AssetImportContext' could be found. Are you m

[2019-03-27 09:23] keijiro commented on #18
Which version of Unity are you trying? I recommend trying Unity 2018.3.

[2019-04-02 04:17] keijiro commented on #18
I'm closing this issue now. Please feel free to reopen if it still reproduces.

[2019-04-02 04:17] #18 closed

[2019-04-06 04:57] Glorfendal opened #19 "Ply not showing in scene"
Hi Keijiro,

While I have no issues importing my Ply file, when I drag it into the scene it simply does not show up. All of the components are there and editable, but I cannot see anything. The imported Ply file still has a thumbnail that is visible and shows my pointcloud

I downloaded the richmond-azaelias.ply file, and that works perfectly fine. However, both files are imported and visualised w

[2019-04-06 06:30] keijiro commented on #19
Could you provide the file that causes the issue? I'd like to test it myself.

[2019-04-07 06:25] keijiro commented on #19
I received test data from @Glorfendal and found that the point cloud lies too far from the origin. It's recommended to move them around the origin before exporting to avoid floating point precision error issues.

I'm closing this issue now. Please feel free to reopen for further questions.

[2019-04-07 06:25] #19 closed

[2019-04-16 10:19] herman-nu opened #20 "Repo Setup"
Hi Keijiro,

I'm curious about the layout of your repo and workflow when you use it in other projects. I see that you have a branch called `upm` and `master`. Why doesn't the upm branch include all of the files in the master branch? Notably I see the 'Asset' folder missing from the upm branch.

Could you point me to a project that uses this package with unity package manager?

[2019-04-17 04:47] keijiro commented on #20
The `upm` branch is used to import the package via Unity Package Manager via the git integration. Please see the "Installation" section in [README.md](https://github.com/keijiro/Pcx/blob/master/README.md) to know how to use it.

This is just an experimental project but [PcxEffects2](https://github.com/keijiro/PcxEffects2) uses this feature to import PCX.

[2019-04-19 00:33] keijiro commented on #20
Now I'm closing this issue. Please feel free to reopen for further questions.

[2019-04-19 00:33] #20 closed

[2019-04-29 15:05] sergiobd opened #21 "Disk shader does not work in HDRP (2019.1.0f2)"
Hi Keijiro,

I tried the disk shader on HDRP in Unity 2019.1.0f2, I get the magenta shader of death (with no errors). Any idea why?
I have a volumetric capture of an actor as a sequence of vertex and colors lists (each frame has a list of vertices and a list of colors). Do you have a suggestion on how to render them apart from a geometry shader?

[2019-04-30 09:56] NoxMortem opened #22 "License"
How is this project licensed?

[2019-05-01 05:31] keijiro commented on #22
Please check LICENSE.txt

[2019-05-01 05:41] keijiro commented on #21
Basically there is no compatibility in shaders between the legacy render pipeline and HDRP, so you can't simply use the PCX builtin shaders.

It might sound like a little bit strange idea but the Visual Effect Graph is the handiest way to visualize a point cloud on HDRP.

https://twitter.com/_kzr/status/1101395833541414912

Unfortunately, I have no time for writing a tutorial about the usage. Plea

[2019-05-01 09:50] NoxMortem commented on #22
@keijiro Thank you. Sorry for asking - the mobile github view did not show the license...
As always: Your work is amazing and thanks for sharing it under the best license!

[2019-05-01 09:50] #22 closed

[2019-05-15 01:22] keijiro commented on #21
I'm closing this issue now. Please feel free to reopen for further questions.

[2019-05-15 01:22] #21 closed

[2019-05-28 01:32] wodndb opened #23 "How can I make ply file to import?"
I make ply file base on RealSense.

However, I can't Import this and I don't know how to debug this file.

ply file what I make has ascii type header and binary_little_endian type body.

[Source code]
[code]

[Error Message]
[code]

[2019-05-28 02:12] keijiro commented on #23
I can't remember exactly but I think points acquired from RealSense contains some irregular positions (like (inf, inf, inf) or (NaN, NaN, NaN)). How about adding a "sanitizing" filter that excludes irregular points before writing them to a file?

[2019-05-28 07:05] wodndb commented on #23
I already exclude irregular positions in RealSense before writing them to file. But I didn't use sanitizing filter, I will try to use this filter to RealSense. Thanks.

[2019-06-02 14:36] wodndb commented on #23
I have two problems.

First, point color of my original point cloud data is broken. I fixed it and I validate point cloud data.

Second, my point cloud data has coordinate of point and color. So I deleted below ply headers
[code]

It works well.

Thx.

[2019-06-02 14:36] #23 closed

[2019-06-20 19:54] SubhajitAwe opened #24 "Why doesn't my ply file get imported as a mesh?"
Hi Kejiro,
Thanks for making this useful component. But, I am kinda unsure as to how it works when I add a new .ply file to my project. Does it automatically convert the file into a mesh? This new file is in little_big_endian format, I checked the header, so I think it should work, as you acknowledged in one of the other issues.
Thanks for your help,
Subhajit.
![Screen Shot 2019-06-21 at 1 24 20 A

[2019-06-21 03:18] keijiro commented on #24
It should work without any special effort. Is there any error message on the Console view?

[2019-06-21 03:36] SubhajitAwe commented on #24
No, I don't see any errors in the Console. Someone helped me last night to edit one of these ply files. He said, it might be that the file is too lengthy, so he tried to truncate it and even sent me a trimmed mesh ply file. Even that file doesn't get converted.

[2019-06-21 04:15] keijiro commented on #24
Could you share the original file? I'd like to look into it.

[2019-06-21 13:23] SubhajitAwe commented on #24
Hi again,
I have attached the files. The ones starting with 118.. work, Meshtrim and 12... files don't work with PCX Importer.
Thanks for your help,
Subhajit.

[Archive.zip](https://github.com/keijiro/Pcx/files/3314629/Archive.zip)

[2019-06-22 06:03] keijiro commented on #24
Thanks for providing them, but these files are successfully imported with pcx on my side.

![screenshot](https://i.imgur.com/gfJnRpA.png)

I'd recommend staring over from an empty new project.

[2019-06-26 00:47] keijiro commented on #24
I'm closing this issue now. Please feel free to reopen if it still reproduces.

[2019-06-26 00:47] #24 closed

[2019-06-26 19:30] Levrden opened #25 "Save the Color map"
Hello,
Is there a way to save and edit manually the color map texture generated for the vfx graph ?
I don't find any good way to edit colors properly inside the vfx graph
Thanks

[2019-06-27 03:04] keijiro commented on #25
You have to modify the importer script to export the color map. For example, change this line

https://github.com/keijiro/Pcx/blob/master/Assets/Pcx/Runtime/BakedPointCloud.cs#L70

as follows

[code]

Then reimport the .ply file. `test.png` will be saved in the project directory..

[2019-06-28 09:04] Levrden commented on #25
Thanks ! it works !
But when i reimport it as the colour map for my point cloud, the distribution is not the same
![Annotation 2019-06-28 105356](https://user-images.githubusercontent.com/24231978/60331140-45fe1600-9994-11e9-8454-97652e4adafc.png)
![Annotation 2019-06-28 105443](https://user-images.githubusercontent.com/24231978/60331141-45fe1600-9994-11e9-831a-590a54f02dc0.png)

I search for any

[2019-06-28 10:45] keijiro commented on #25
I think you have to enable "Non-Power of 2" option in the texture importer settings.

[2019-06-28 12:08] Levrden commented on #25
It was enabled, so i disabled it and that's it, it works ! Thanks a lot !
btw do you have any idea to tweak all the point cloud color, like sat, bright, contrast... ?

[2019-06-28 12:23] keijiro commented on #25
You can do that by customizing the point cloud shader.

[2019-06-28 15:20] keijiro commented on #25
I'm closing this issue now. Please feel free to reopen it or create a new issue for further questions.

[2019-06-28 15:20] #25 closed

[2019-07-03 03:38] Eytanm opened #26 "example of pcx and vfx"
Hi Keijiro! and all,
Unable to combine vfx and pcx in Unity. Is there an example project rendering pointcloud with vfx in unity?
Thanks for the amazing work!
Eytan

[2019-07-08 05:57] keijiro commented on #15
I'm closing this issue. Please feel free to reopen for further questions.

[2019-07-08 05:57] #15 closed

[2019-07-08 05:57] keijiro commented on #14
I'm closing this issue. Please feel free to reopen for further questions.

[2019-07-08 05:57] #14 closed

[2019-07-08 06:26] keijiro commented on #26
I pushed an example to `vfxgraph-example` branch.

https://github.com/keijiro/Pcx/tree/vfxgraph-example

[2019-07-08 06:27] keijiro commented on #26
I'm closing this issue now. Please feel free to reopen for further questions.

[2019-07-08 06:27] #26 closed

[2019-07-08 12:39] Eytanm commented on #26
Thanks!!!

[2019-07-28 08:19] shayazar opened #27 "Ply norm consideration"
I noticed that while parsing the PLY meta data, the norm is not taken into consideration explicitly (only through a generic Data32 type).
Later, after parsing the data, only the vertices and colors (rgba) are moved on to the shader.

I have a PLY with norm i need to take into consideration.
How do i implement using it in the shader? (point/disk)

Thanks

[2019-07-28 14:04] keijiro commented on #27
I have never seen a point cloud that has normals. How did you create it?

[2019-07-28 14:46] shayazar commented on #27
Meshlab produced it for me, and i don't want to ignore / disregard them.
I saw some mentions on Unity forums and such about it as well.

[2019-07-29 02:29] keijiro commented on #27
Could you provide a .ply point cloud data file with normals?

[2019-07-29 08:44] shayazar commented on #27
Sure,
I imported an example PLY from your project, and exported it through meshlab
[Guanyin2.zip](https://github.com/keijiro/Pcx/files/3441072/Guanyin2.zip)

Because it was created from a PLY without normals originally, the normals don't add information, but taking a PLY with normal information and disregarding it affects the lighting from different camera angles and different lightings.

[2019-07-30 02:22] keijiro commented on #27
I realized that it needs some changes in the basic design of the importer. It requires some amount of time to support it.

I'd like to add this to the to-do list of the project. Unfortunately, I can't afford time for it at the moment. I'll revisit it when I get free time.

[2019-07-30 07:55] shayazar commented on #27
Sure, I get it.
Any chance you can give a brief explanation about how to use the norms in the shader?
Maybe this can help me proceed, and perhaps contribute.

[2019-07-30 08:01] keijiro commented on #27
Add `float3 normal : NORMAL;` to Attributes.

https://github.com/keijiro/Pcx/blob/master/Assets/Pcx/Runtime/Shaders/Point.shader#L30

Then you can use the normal in the vertex shader.

[2019-07-30 08:05] shayazar commented on #27
Thanks
The trouble I had was the math of how to use the values of the normals :)

[2019-08-16 18:12] djzielin commented on #27
I have PLY with normals as well. Perhaps I could help get this working?

[2019-08-23 09:51] Changliu52 opened #29 "real-time pointcloud update"
Hi @keijiro
Thank you for sharing the awesome code.
Im trying to use pcx for real-time visualisation of our continously updated pointcloud.
we update sourceBuffer when we get and updated pointcloud, but the unity doesn't seem to update the poincloud.

do we need to clean the cloud before updating the new one? if yes, how do we do it?

Many thank you in advance.

Chang

[2019-08-23 09:58] keijiro commented on #29
It should work without any special process. Could you share a minimum project that can reproduce the issue?

[2019-08-23 13:06] Changliu52 commented on #29
[code]

[2019-08-23 13:19] keijiro commented on #29
Thanks for providing the additional information.

At the moment, `PointCloudData` doesn't support calling `Initialize` more than once. You have to recreate it every frame (instantiate and destroy it in every update). Although it's not a very efficient way, it should work.

[2019-08-23 18:47] Changliu52 commented on #29
Great to know. I will test it next week and report back.

[2019-08-23 18:47] #29 closed

[2019-08-26 10:24] Changliu52 commented on #29
Working with the update.

[2019-09-13 13:58] d3m3tr105 opened #30 "Point and Disk shader render always on top"
Hi!
Thank you for sharing the project, it is awesome!
I just had a quick question. Is there anyway to make the point cloud take into consideration the depth of transparent and similar shader? Right now the depth only seems to work with opaque materials. When using transparent or particle systems (for example) on other objects in the scene, the point cloud renders on top of everything.

[2019-09-13 14:59] keijiro commented on #30
If you're using the legacy render pipeline (i.e. not using HDRP or Universal RP), the point could shader will be drawn before transparent materials, so it's thought to be a bug. Could you share a minimum project that can reproduce the issue in that case?

[2019-09-13 16:54] mianel opened #31 "LWRP"
Hi, I tried to use the shader point cloud with LWRP, and works, but not the color. how can I fix this?

regards

[2019-09-14 02:25] keijiro commented on #31
It should work with LWRP. Does it work correctly when using the legacy render pipeline?

[2019-09-14 16:59] d3m3tr105 commented on #30
Sure, here is the link https://github.com/d3m3tr105/KejiroPointCloud.git . Indeed I was talking about the legacy pipeline. Do you have any idea how to go about this? Let me know if I can help.

[2019-09-18 11:16] ibilab opened #32 "Disabling Billboarding in Disk Shader"
Hi, is there a way to disable the always facing camera billboarding int the disk shader?

Thanks

[2019-09-19 02:29] keijiro commented on #32
Try replacing `Disk.cginc` with this.

[Disk.zip](https://github.com/keijiro/Pcx/files/3629079/Disk.zip)

[2019-09-19 02:30] keijiro commented on #32
I'm closing this issue now. Please feel free to reopen for further questions.

[2019-09-19 02:30] #32 closed

[2019-09-19 09:53] ibilab commented on #32
Thanks!

[2019-09-23 10:47] samuraishamploo opened #33 "Texture2D"
This work is really incredible.

However, I would like to use Texture3D instead of Texture2D to use a plont cloud in the VFXgraph because with a Texture2D, all the points with a Z axis are baked in lines and not randomly as in a PLY file.

Do you know if it's possible to obtain a Texture3D from a point cloud in Unity ?

Thanks a lot.

[2019-09-23 14:03] keijiro commented on #33
Sorry but I can't understand what you're going to do with 3D textures. Could you explain/rephrase your idea or provide references to related articles/papers.

[2019-09-23 14:03] keijiro commented on #33
I'm closing this issue temporarily. Please feel free to reopen for further discussion.

[2019-09-23 14:03] #33 closed

[2019-10-10 07:52] gameanimation3d opened #34 "LWRP: ComputeBuffer doesn't render in camera"
With the New LWRP.
The Pointcloud in ComputeBuffer Mode doesn't render in the Camera. Only in Editor the Pointcloud gets correctly drawn.
If i switch back to builtin Renderpipeline everything works fine.

Mesh Rendering in LWRP works. But doesn't apply an Point Size.

Unity Version: 2019.2.8f1
Pcx Version: Release Version v1.2

[2019-10-10 09:28] gameanimation3d opened #35 "Point Size broken with Point Shader on "Mesh" Pointcloud"
In the Point Shader with a "Mesh" Pointcloud the Attribute Point Size doesn't get used.
The Pointcloud stays always the same.

Warning appears underneath:
"Only some plattform support these point size properties".

Unity Version: 2019.2.8f1 (Built-in Renderer)
Pcx Version: Release Version v1.2

[2019-10-10 10:48] keijiro commented on #34
So, you meant that this issue only reproduces on a built app?

Which platform are you using? Windows, macOS or mobile platform?

[2019-10-10 10:49] keijiro commented on #35
Which platform are you using? Windows, macOS, Linux or some other mobile platforms?

[2019-10-10 11:03] gameanimation3d commented on #34
No. The pointcloud gets only drawn in the Editor View. In the Game View in Editor it doesn't show up.
I didn't tested it it an Build app

As OS Windows 10 64bit - Build Settings are for Windows

[2019-10-10 11:03] gameanimation3d commented on #35
As OS Windows 10 64bit - Build Settings are for Windows

[2019-10-17 01:48] ChiefBreakeverything opened #36 "Strange color range on Android"
Hi Keijiro,

I tried out the 'Plant' scene on Android 9 and got some strange results. The MeshRenderer version looks correct, but the Compute version seems to display with incorrect/greatly reduced color range. I tried changing the colorspace to Linear in the player settings but no luck.

![Screenshot](https://user-images.githubusercontent.com/4685982/66971305-6cc79000-f0dc-11e9-8d18-5cd921798762.

[2019-10-17 02:42] keijiro commented on #36
I think there is an issue with [`PcxDecodeColor`](https://github.com/keijiro/Pcx/blob/master/Assets/Pcx/Runtime/Shaders/Common.cginc#L15) on the device. I guess that the graphics driver or the shader compiler has an issue with integer arithmetic operations, but I can't research further on it as I don't have the device.

[2019-10-17 04:18] ChiefBreakeverything commented on #36
Ah I see, thats fair. Thank you for the quick response, I'll try a few things and post back if I find anything.

[2019-10-17 11:29] ChiefBreakeverything commented on #36
After a fair bit of fussing around, I managed to produce this:

`half3 PcxDecodeColor(uint data)
{
    data = ((data << 8) & 0xFF00FF00) | ((data >> 8) & 0xFF00FF);

    data = (data << 16) | (data >> 16);

    half b = (data >>  8) & 0xff;
    half g = (data >> 16) & 0xff;
    half r = (data >> 24) & 0xff;
    half a = (data >>  0) & 0xff;

    return half3(r, g, b) * a * PCX_MAX_BRIGHTNESS / (25

[2019-10-17 12:57] keijiro commented on #36
Whoa, I didn't expect that this kind of hack works. Thanks for the information. I'm thinking of reporting this as a shader compiler issue on Android.

[2019-10-22 08:49] eisenWu opened #37 "Can i use this shader for point cloud in runtime?"
Hi @keijiro ,

i am newbee to shader, i am doing the projeck with rendering the point cloud in runtime, my first idea was using triangles and mesh to make visualization, but it seems using shader is a better solution if we consider the performance, so is that possible to realize it with shader?

best regards

Wei

[2019-10-22 12:30] keijiro commented on #37
Using a shader might be a better solution for your problem, but the shaders in this project is specially designed for data imported via the Pcx importer, so I hardly think that it's useful for your project.

[2019-10-22 12:30] keijiro commented on #37
I'm closing this issue now. Please feel free to reopen for further questions.

[2019-10-22 12:30] #37 closed

[2019-10-27 16:52] mkl-b commented on #29
@Changliu52
did you solved this problem?
Would you mind sharing?

[2019-10-29 22:56] mkl-b opened #38 "How to load my points"
Hello,
I want to use this library but i dont want to load points from .ply file
I've got them stored in array, could you describe the steps to do to make it work and load my own point data?
I don't see any examples for this case.
Thanks

[2019-10-30 05:17] keijiro commented on #38
Construct a mesh with `MeshTopology.Points`, then render it with `Point Cloud/Point` shader.

[2019-10-30 05:17] #38 closed

[2019-10-30 05:26] #36 closed

[2019-11-04 08:44] melkishengue opened #39 "Newbie question: how to integrate Pcx with unity"
Hello @keijiro ,

thanks for sharing this awesome library. Do you have any ressource explaining how to integrate Pcx with Unity to display pointcloud points generated from ros ? Any advice would be welcome as well.

I already imported the project into unity as specified in the installation guidelines.

Thanks again.

[2019-11-05 02:18] keijiro commented on #39
I have no idea what ros is, so there is no knowledge I can provide for it.

[2019-11-05 02:33] sergiobd commented on #39
@melkishengue, try to export a .PLY from your ROS application and then use the repo as instructed.

[2019-11-06 16:08] eisenWu opened #40 "Can the Point Size automatic change with the distance between the camera?"
Hallo @keijiro ,
your shader works really good, appreciate it.
Is it possible to change the point size automaticly depend on the distance between the camera? i meam in real time.
What i want it to be, if the point is far away of the camera then it should bigger than the point near the camera.
Thanks in advance.

[2019-11-06 16:40] keijiro commented on #40
This is quite different from the standard implementation of perspective. There is no plan to add such a unique feature.

This issue tracker is not a place for consulting individual projects. I'm closing this issue ticket as the question is irrelevant to the Pcx project.

I want to give a small hint for you: The sizes of points are calculated in the following line. You can change the behavior by mo

[2019-11-06 16:40] #40 closed

[2019-11-09 06:05] keijiro commented on #39
I'm closing this issue now. Please feel free to reopen it for further problems.

[2019-11-09 06:05] #39 closed

[2019-11-20 15:12] rvijgen commented on #25
Does this work for the position map as well? I successfully exported the position map, but I am unable to successfully load it back in again as it results in a distorted geometry.

This is the original position map
<img width="882" alt="Screenshot 2019-11-20 at 16 09 57" src="https://user-images.githubusercontent.com/1857817/69250614-49e33c80-0bb0-11ea-85f8-77be554866d8.png">

And this is what I g

[2019-11-21 03:11] keijiro commented on #25
@rvijgen

No, it doesn't. PNG only supports low dynamic range color, so values will be clipped by the range from 0.0 to 1.0 as like shown in your screen shot.

[2019-11-22 11:32] rvijgen commented on #25
would there be any other way to export and edit the position data as an image (maybe a different file format)?

[2019-11-23 00:26] keijiro commented on #25
I wonder if EncodeToEXR would be helpful.

https://docs.unity3d.com/ScriptReference/ImageConversion.EncodeToEXR.html

[2019-11-26 11:34] rvijgen commented on #25
Yes, that works, thanks for your help!

[2019-11-27 04:52] sergiobd opened #41 "Mesh not readable"
Hi Keijiro,

I've used this asset extensively using the texture baked import settings. For my current application  I need to use a mesh. I use the "mesh" container type in the import settings. However, when I try to access the mesh data (vertices and colors) via a script, Unity complains it is not readable, which I cant set in the inspector.  Any clues?

Best,

Sergio

[2019-11-27 05:00] sergiobd commented on #41
Ok, I think I got it. You are marking the mesh at not readable in line 180 of the mesh importer, right?

[2019-11-27 05:01] keijiro commented on #41
Yes. Try changing it to false.

[2019-11-27 05:01] sergiobd commented on #41
Thanks!

[2019-11-27 05:01] #41 closed

[2019-12-04 18:14] Changliu52 commented on #29
I just call this every loop
cloud_ = null;
             cloud_ = new PointCloudData();
             cloud_.Initialize(positions_, colors_);		             cloud_.Initialize(positions_, colors_);
             print("A new cloud is updated!");

[2019-12-04 18:18] Changliu52 opened #42 "More efficient dynamic pointcloud"
We have gotten the pointcloud working by rerender it completely every loop. It works fine. https://github.com/keijiro/Pcx/issues/29

Now the performance is not fast enough. We want to be able to use Initialise() to update a fixed size pointcloud.

Could you give us some suggestions on how we can modify the library? Or what is stopping h us from doing so?

Best Regards,
Chang

[2019-12-05 01:14] keijiro commented on #42
The editor functions of PointCloudData are not optimized for runtime use, so it would become a bottleneck if you dynamically use it.

There are some optimization ideas:

- EncodeColor should be done in a compute shader. It could be over 10 times faster than the current C# implementation.
- There is a hack-ish technique to avoid array copy when initializing a compute buffer: https://github.com/keij

[2019-12-05 07:16] Changliu52 commented on #42
We are trying to display realsense pointcloud through wireless communication.
The pointcloud renderer in realsense sdk works really fast if we connect realsense directly to PC.

Maybe there are something in the realsense sdk we can borrow?

Chang

[2019-12-05 08:12] keijiro commented on #42
I think there is no merit in using Pcx for that purpose. It might be easier to bake a point cloud into a texture and render it using VFX Graph. In this case, the only problem is that how you transfer the texture via a wireless connection. Wi-Fi is far slower than USB 3.1 Gen 1, so the bandwidth gap would cause a problem.

[2019-12-05 08:12] keijiro commented on #42
I'm closing this issue now. Please feel free to reopen it for further problems.

[2019-12-05 08:12] #42 closed

[2019-12-09 13:56] MarcoHolo opened #43 "Rending just on one HoloLens Display"
While using this Lib in a HoloLens-project, built with Unity, I can see the rendering of the point-cloud just on the left display. On the right eye there is no rending. We are using HoloLens Generation 1 here. We tested with multiple devices - same behaviour.

Add this info:
I'm using the Point Cloud Renderer with Container-Type "ComputeBuffer"

[2019-12-09 14:34] keijiro commented on #43
Just for your information: I've never tested Pcx with VR/AR devices. Personally, I don't have any XR device at the moment, so please don't expect that this issue would be solved very soon. I'd like to solve the problem when I have time, but please note that it'll be done for URP (Universal Render Pipeline) or HDRP, not for the legacy render pipeline.

[2019-12-11 22:42] Changliu52 commented on #42
I intend to use pcx just to rendering the pointcloud. We have manage to stream the pointcloud over WiFi and render with the current version pcx. Yes, the bandwidth is one problem, but we already tried to use cable connection and same method to render and It is still very slow. We are tying to optimise through both directions. I saw this https://github.com/IntelRealSense/librealsense/blob/master/wr

[2019-12-16 07:54] keijiro commented on #42
Okay. So the bandwidth is not a problem. Then the root cause is quite clear: There is a bottleneck in the `PointCoudData.Initialize` code.

No. It can't get faster unless solving the bottleneck. If you optimize the Initialize function, it will run faster than `RsPointCloudRenderer`.

My recommendation is migrating to VFX Graph. You don't need to use Pcx in this case. VFX Graph can handle tons of p

[2019-12-19 11:05] ryanmeasel opened #44 "No color for points"
In 2019.3.0f1, the color info is not loaded correctly by the shader. Perhaps related, it issues the following warning:

[2019-12-19 12:00] ryanmeasel commented on #44
Upon further investigation, the input PLY was malformed. Confirmed working as aspected in 2019.3.0f1.

[2019-12-19 12:00] #44 closed

[2020-01-10 00:20] afauch commented on #43
@MarcoHolo Have you tried enabling multi-pass rendering? Will slow performance, but for me this enabled stereoscopic viewing of the point cloud.

Project Settings > Player > XR Settings > Stereo Rendering Mode > Multi Pass

[2020-01-26 17:35] jbltx opened #45 "Upm branch"
Hello,
Sorry for the disturbance, but I was wondering how do you create your `upm` branch ? It seems to be a symbolic link to the `Assets/pcx` folder and I think this git feature should be really useful (this is a nice example) , I have never seen this before !

But maybe you just created another normal branch and put everything into it. 😄

Thank you in advance for the information !

[2020-01-26 23:50] keijiro commented on #45
This is what I did to the branch.

[2020-01-26 23:51] keijiro commented on #45
I'm closing this issue now. Please feel free to reopen for further problems.

[2020-01-26 23:51] #45 closed

[2020-01-30 11:55] dblatner opened #46 "How to load a PLY via script?"
I have PLY files in the correct format that work in the editor, but how can I load them via script during runtime?

I searched the available issues here, but didn't find a solution yet.

[2020-01-30 14:17] keijiro commented on #46
The ply import only supports Editor; There is no runtime support.

I didn't implement it because I thought it's too slow and memory-intensive to use in a practical application. Do you think it could be a useful feature?

[2020-01-30 15:01] dblatner commented on #46
Yes, in my opinion this is an important feature. I want to do it especially for mobile devices and point clouds with around 10k-1M points.

Analogy: Google is successfully doing runtime imports of Tiltbrush and other content via Poly database for almost all platforms.

[2020-01-30 23:27] dblatner commented on #46
I managed to load the PLY files during runtime. The point shader works for deployment on Android, but not on iOS.

@keijiro : do you know how create a iOS compatible shader? Did you use Unity ShaderLab?

[2020-02-01 22:09] Bradyk27 opened #47 "Forming polygons from points?"
Curious if any work had been done on forming polygons from points to make a true 3D object? Also, on a (possibly) related note, how does one use Texture2D? Fairly new to unity and this is fantastic work, so I appreciate the help very much.

[2020-02-01 23:19] Bradyk27 commented on #47
As a follow up--I've setup a unity project with VFX Graph capabilities, and have found where I can apply a position & texture map to a point cloud cache file. The problem is my .ply fails to convert through the default point cloud cache bake because it's not made of triangles. Not sure if this is what I'm looking for exactly, but any thoughts?

[2020-02-02 05:52] keijiro commented on #47
You should look for a program that has the capability to reconstruct a mesh from a point cloud. That is a quite complicated technique. Pcx is just a small utility plugin. Please don't expect that it can handle things like that.

[2020-02-02 05:52] keijiro commented on #47
I'm closing this issue now. Please feel free to reopen it for further problems.

[2020-02-02 05:52] #47 closed

[2020-02-02 05:54] keijiro commented on #46
The point shader should work on iOS, the point size property doesn't work though.

[2020-02-02 05:54] keijiro commented on #43
I'm closing this issue now. Please feel free to reopen for further problems.

[2020-02-02 05:54] #43 closed

[2020-02-02 05:55] keijiro commented on #31
I'm closing this issue now. Please feel free to reopen it for further problems.

[2020-02-02 05:55] #31 closed

[2020-02-12 02:10] Manning1999 opened #48 "X axis mirroring fix"
Since the [original question](https://github.com/keijiro/Pcx/issues/5) has been closed, I thought I would post a fix here for anyone else having similar problems. As mentioned in the original question, this issue occurs due to Unity using a left handed coordinate system whereas a lot of 3D modelling software and point cloud scanners use a right handed z-up coordinate system (Also sometimes called

[2020-02-12 08:44] keijiro commented on #48
Actually, I think Pcx should have options for changing the coordinate system (left/right hand, Y/Z-up, etc.) because .ply doesn't have a specification about it.

[2020-02-12 10:57] masmil1988 opened #49 "Separate the conversion positions/colors -> Point[] from the _pointData assignment in Initialize(List<Vector3>, List<Color32>)"
I have a lot of point clouds with a lot of points to render at runtime. In order to avoid to overload the main thread I perform the most of my calculations in a secondary thread; when points are ready to be rendered I call PointCloudData.Initialize by passing the points positions and colors.

This method needs to be called on the main thread. If I have a lot of points this method locks the main th

[2020-02-12 13:04] keijiro commented on #49
I think that's a good solution for your problem. By the way, what's the point of this issue? I think this is not a bug report nor a technical question.

[2020-02-18 00:45] keijiro commented on #49
I'm closing this issue now. Please feel free to reopen it for further problems.

[2020-02-18 00:45] #49 closed

[2020-02-18 20:13] CharlesH75 commented on #46
@keijiro : Can you explain how did you achieve to load the PLY file during runtime?

[2020-03-14 22:03] mellinger commented on #35
This appears to happen with the DirectX APIs, switching to Vulkan fixes the problem for me (but is unfortunately not a long-term solve).

[2020-04-24 09:23] glennliu opened #50 "Add point cloud data failed due to MonoBehaviour"
Hi

I import the Pcd package and tried to render point cloud in following steps,
- Import Pcx packages.
- Create _PcxRender_ Gameobjects.
- Drag script _/Assets/Pcd/Runtime/PointCloudData.cs_ into object _PcxRender_

It showed errors as below,
![ssss](https://user-images.githubusercontent.com/8009679/80196654-47e64380-8650-11ea-991c-5eda64acdb43.PNG)

Can you give advice with that?

Thanks

[2020-04-24 15:12] keijiro commented on #50
PointCloudData is not a MonoBehaviour class, so you can't add it to a game object as a component.

I'd recommend checking tutorials like this one: https://www.youtube.com/watch?v=aKfPUCZYAhw

[2020-04-24 15:13] keijiro commented on #50
I'm closing this issue now. Please feel free to reopen it for further problems.

[2020-04-24 15:13] #50 closed

[2020-04-26 03:24] glennliu opened #51 "Continuous update a point cloud map from a flying drone"
Hi

My question in #50 is well solved. Thanks for your advice.

I realized the package currently draws a static point cloud map for one time. But in my case, I need to draw a point cloud map continuously. The point clouds are updating in real-time. Does this package has the function?

Besides, I noticed the package used **Graphics.DrawProcedural** to draw each geometry. I'm not sure is it gonna af

[2020-04-26 05:06] keijiro commented on #51
No. Pcx is just an importer for .ply files. Real-time point cloud is out of the scope.

I think Rsvfx is a better example that is closer to your idea.

https://github.com/keijiro/Rsvfx

https://twitter.com/_kzr/status/1133300004674609153

[2020-04-26 05:06] keijiro commented on #51
I'm closing this issue now. Please feel free to reopen it for further problems.

[2020-04-26 05:06] #51 closed

[2020-04-26 05:23] glennliu commented on #51
will try with Rsvfx. Thanks!

[2020-05-03 20:08] Reddevildragg opened #52 "Visual effect graph managing total point count"
Is there a way with the visual effect graph to have the total points only counting what the camera can see. From what I can tell from looking if I set a point count then this also counts to the points behind the camera/would not be visible and as such takes detail away from where the focus could be. Any idea what would be used to change this?
Thanks

[2020-05-04 06:33] keijiro commented on #52
As far as I know, there is no such an option as a visible point count with VFX Graph. I'd recommend using the VFX Graph forum for further questions.

[2020-05-04 06:33] #52 closed

[2020-05-05 06:34] kwea123 commented on #35
Go to project settings and set the default graphics to openglcore makes it work.
![Untitled](https://user-images.githubusercontent.com/11364490/81040223-d6c34d80-8ee5-11ea-859b-2c8b5a05f06b.png)

[2020-06-04 13:45] Chopium opened #54 "Disk Shader Color Issue on Android"
![swirl-example](https://user-images.githubusercontent.com/8369371/83764102-2446ed80-a63f-11ea-9028-93037f936559.gif)
I tried exporting the sample project on Android OpenGL / Vulkan ( w/ unity 2019.3). The performance/animation is great but the colors seem scrambled (in a consistent way). Works perfect in editor too. Any idea of what's going wrong?

[2020-06-16 04:59] radacadabra commented on #46
@keijiro thanks for the importer, great work.

Could you or @dblatner please share how to import a PLY on runtime?

[2020-07-07 16:05] bjornsyse commented on #34
Have the same issue. Even get a nullReferenceExection on play. Something with the camera?

[code]

[2020-07-10 12:01] PabloBuitrago opened #55 "iOS problem with AR Foundation"
Hello Keijiro,

I want to congratulate you on the work of this Unity project it looks really cool.

I was currently working with Unity 2019.1.21f and AR Foundation 3.1.0, I had problems with the Pcx / Assets / Pcx / Runtime / Shaders / Point.shader shader since the graphics API (used by the AR Foundation is OpenGLES3 (and not OpenGLE2 where it this shader worked well) and in compilations in iOS it

[2020-08-10 14:18] VessoVit opened #56 "How do I create Position map and Color map for the vfxgraph?"
First I want to say thanks for your contribution to the community, love

I used Metashape to create a model I want to use. Importing it in Unity with Pcx works fine, but I'm not getting any color map and position map like the model you showed in the vfxgraph example. Can you please elaborate how can we create such so we can use the model in VFX?

[2020-08-10 14:58] keijiro commented on #56
Use Texture Container Type: https://github.com/keijiro/Pcx/blob/master/README.md

[2020-08-10 14:58] keijiro commented on #56
I'm closing this issue now. Please feel free to reopen it for further problems.

[2020-08-10 14:58] #56 closed

[2020-08-12 07:34] Embalzan commented on #46
@keijiro I'll join the others to thank you for this great tool. I also would like to know how one can load ply files via script. @dblatner  any suggestions?

[2020-08-12 13:30] Embalzan commented on #46
I managed to do it using almost all of the code in PlyImporter.cs, Thanks again!

[2020-09-02 21:54] Zumbalamambo opened #57 "Crashes on 2019.4.8f1"
I cloned this repo and tried to open with Unity 2019.4.8f1.

However, the Unity is crashing for some reason. Any possible fixes? I use Ubuntu

[2020-09-03 01:49] keijiro commented on #57
Could you try 2019.4.9?

This is not relevant to Pcx, but the recent versions of Unity 2019.4 have a crash issue with Vulkan. This issue was fixed in the latest version.

[2020-09-03 20:37] #57 closed

[2020-09-20 09:33] Bjerken opened #58 "Accessing the full path of the 2D texture of a PLY"
Hi!
I am moving this question to this repository.
I am trying to access the path of the Position map and Color maps (The 2D textures) of a PLY. I can only seem to access the path of the PLY itself. Though it is possible to access the 2D textures through the graph editor. Do you have any solution?

[2020-09-20 10:38] keijiro commented on #58
No. You can't access embedded assets using a file path.

[2020-09-20 10:39] keijiro commented on #58
I'm closing this issue now. Please feel free to reopen it for further problems.

[2020-09-20 10:39] #58 closed

[2020-09-22 22:11] Bjerken commented on #58
Is there any other way of accessing it through a script?

[2020-09-23 00:22] keijiro commented on #58
https://docs.unity3d.com/ScriptReference/AssetDatabase.LoadAssetAtPath.html

[2020-09-23 16:34] Bjerken commented on #58
Thank you!

[2020-10-20 12:50] bjornsyse opened #59 "NullReferenceException with ComputeBuffer and Disc shader using Universal Render Pipeline (URP)"
Hi, I get this error when using Universal Render Pipeline and the ComputerBuffer type of rendering.

Discs show up in editor, but not in Game view and this error is thrown

[code]

[2020-10-23 09:46] wmathilde opened #60 "impossible to edit the pcx settings"
Hello,

I don't know if this is a problem with my Unity settings, but I cannot edit the parameters of the plugin.
Every editor is greyed out in Unity like below (Default Point and PCX.editor for example). I have searched in the scripts that define the editors but did not find anything that would cause the content to be non-modifiable.
![image](https://user-images.githubusercontent.com/71834290/969

[2020-10-23 13:04] keijiro commented on #60
You can't modify the default material asset. Create a new material and use it instead.

[2020-10-23 13:04] #60 closed

[2020-11-23 08:00] sjaakjules opened #61 "2020.2 compatability"
The unity assetImporters are no longer experimental.

You should change using to something like: (if i have my versions correct which i prob dont.

#if UNITY_2020_2_OR_NEWER
using UnityEditor.AssetImporters;
#elif UNITY_2018_4_OR_NEWER
using UnityEditor.Experimental.AssetImporters;
#endif

[2020-11-25 13:55] Gitbub222 opened #62 "Failed to compile Point Cloud/Point"
Shader fails to compile on Mac OS. The shader cannot be listed in the project settings 'Always included shaders' list.

[2020-11-25 15:25] keijiro commented on #62
Which shader?

[2020-12-02 14:23] Gitbub222 commented on #62
Point Cloud / Point

[2020-12-03 00:48] keijiro commented on #62
Is there any error message?

[2020-12-03 06:19] #62 closed

[2020-12-22 02:35] franMx commented on #55
Hi, had a similar issue (using ipad). Solution by @PabloBuitrago  is working nicely.

[2021-02-01 19:15] Zumbalamambo opened #63 "Creating VFX Graph"
I have managed to import the pointcloud with pcx and converted the container type to VFX. But the model is not being shown when  I tried to create a pcache file. how can I fix this?

[2021-02-02 01:38] keijiro commented on #63
It doesn't use a pcache file. Please check the vfxgraph-example branch that contains a sample VFX Graph.
https://github.com/keijiro/Pcx/tree/vfxgraph-example

[2021-02-02 01:38] #63 closed

[2021-02-02 01:38] keijiro commented on #63
I'm closing this issue now. Please feel free to reopen it for further problems.

[2021-02-17 10:07] jinialadin1 opened #64 "shader doesn't work for hdrp"
your asset works excellent in unity 2019.4
I tried to upgrade my project into hdrp 7.5 but shader doesn't works.
HD camera doesn't render the point cloud object but I could see it in editor.

![image](https://user-images.githubusercontent.com/16120321/108188643-28765500-7153-11eb-95e0-467c9ca9b991.png)
I checked every camera components to render the point cloud but it doesn't work.

Do you have an

[2021-02-17 12:19] keijiro commented on #64
Please check #21

[2021-02-17 12:19] keijiro commented on #64
I'm closing this issue now. Please feel free to reopen for further questions.

[2021-02-17 12:19] #64 closed

[2021-02-17 14:38] Fenikkel opened #65 "[Issues] The VFX point desapears if don't have the correct rotation"
Seems that the VFX graph using the point cloud doen't render if don't have the "correct" point of view.
In my case, seems that if the z axis of the point cloud it's not aligned with the camera, this vfx it's not rendered. Even in the editor "scene".

[2021-02-18 02:42] keijiro commented on #65
Use the orientation block with the FaceCameraPlane/FaceCameraPosition options.

https://docs.unity3d.com/Packages/com.unity.visualeffectgraph@6.9/manual/Blocks.html#orientation-blocks

[2021-02-18 02:43] keijiro commented on #65
I'm closing this issue as irrelevant (this is not a question about Pcx but general use of VFX Graph). Please feel free to reopen it for further problems.

[2021-02-18 02:43] #65 closed

[2021-02-19 07:29] keijiro commented on #61
Fixed in 1.0.1.

[2021-02-19 07:29] #61 closed

[2021-02-25 21:59] elwes opened #66 "Shaders does not work for Single Pass Stereo rendering (VR)"
Would love to use this in VR. But to make it work with single pass stereo rendering the shaders would need some changes. Does anybody know a fix for that? I know it will work for multi pass stereo rendering, but that will be not really the way to go for VR.

No idea right now how to change the shader and make it work. This would be the reference for what I am talking about:
https://docs.unity3d.co

[2021-03-02 11:03] Fenikkel commented on #65
I resolved the problem.
This is the solution in the case you are using planes as output: _Use the orientation block with the FaceCameraPlane/FaceCameraPosition options._

But I was using "Lit Cubes" as output. So, **the problem was in the point cloud pivot**. When it goes out of the camera fustrum, the particle system disapears.

So, in the case you are using Sketchfab point clouds and the pivot i

[2021-03-02 11:59] keijiro commented on #65
In that case,  you can extend the bounding box to avoid being culled. Use the Bounds property in the Initialize context.

https://docs.unity3d.com/Packages/com.unity.visualeffectgraph@11.0/manual/Context-Initialize.html

[2021-03-05 12:58] roblms commented on #59
Same problem here, using Unity 2020.2.2f1, Universal RP 10.2.2.

The issue appears to be this line

`var camera = Camera.current;`

modifying it to use Camera.main appears to solve the issue.

[2021-03-11 11:27] FrankSpalteholz opened #67 "[Baked Point Cloud] color and position map as video-input"
Hi Keijiro,

i'm sorry in case this question has been already asked (but i couldn't find any similar issue) so ... i'm creating my own .ply-files in houdini (convert them as binary) and using them succefully in vfx-graph ... i'd like to also create videos -> rendertextures as input for position and color-map. right now it's just "one" texture2D per attribute but i'd like to have it been animated t

[2021-03-11 13:04] keijiro commented on #67
In the Dkvfx project, I used the HAP video codec to stream point clouds.

https://github.com/keijiro/Dkvfx

There is another similar project with VAT.

https://github.com/keijiro/HdrpVatExample

Yes, I think so.

[2021-03-11 13:05] keijiro commented on #67
I'm closing this issue now. Please feel free to reopen it for further problems.

[2021-03-11 13:05] #67 closed, assigned to keijiro

[2021-03-11 13:06] keijiro commented on #67
P.S. There is yet another similar project with Alembic.

https://github.com/keijiro/Abcvfx

I'm sure that it's not practical for mobiles, though.

[2021-03-11 19:13] FrankSpalteholz commented on #67
Alembic is indeed too slow and i'd like to stick to my pipeline using ply so let me ask you something else if you don't mind:
After checking the map-array which is produced after baking the ply it's floating point (having negativ values ofcourse depenting on where the 3d-point lives) I've tried to export this position-array/map without loosing floating point precision where i've failed (png crops

[2021-03-12 00:36] keijiro commented on #67
Try .exr instead of .png/.tiff.

No. It converts depth (float) -> hue (float) -> r,g,b (unorm8x3). In other wrods, encoding a floating point value with 24bit data.

[2021-03-22 19:01] cpkcpkcpk commented on #27
I would also love to use ply normals in the VFX graph, in the same way you would with a pcache file

[2021-04-08 10:56] annapompermaier commented on #66
did you find a solution for this? have the same problem here!

[2021-04-13 16:34] ModMiniMan opened #68 "Adjusting of Point Size in AR on Android"
Hi there,

I've been trying using Vuforia to create AR content, one of which is to visualise point clouds.

While I am able to load the point clouds in an Android environment, I am unable to change the point size. Each point is about the 5x5cm which makes it difficult to view the object in AR.

Is there any way to adjust the point size for Android? I've tried using the ComputeBuffer where I am abl

[2021-04-13 17:03] #68 closed, assigned to nobody

[2021-04-23 14:58] walkinghome opened #69 "Lit Disc-Shader"
Hey Keijiro.

Thanks for your awesome work and support on GitHub.
Is there a way to make the particles lit? We are using the disc-shader inside the URP.

Unity Version 2019.4.17f1

Best
Vincent

[2021-04-23 15:49] keijiro commented on #69
You have to modify the shader. If you're not familiar with shader coding, it's recommended to use VFX Graph + Shader Graph instead.

[2021-04-23 15:49] #69 closed, assigned to keijiro

[2021-05-15 02:34] jhynes94 opened #70 "WebGL support and V-PCC"
Hello keijiro,

I've been using your tool and loving it. It works super well.

I've run into a slight issue where I cannot render it via my browser with WebGL.

Do you have any recommendations / will this be supported at a later time? Also will you offer the ability to process V-PCC?
https://github.com/nokiatech/vpcc

Best,

Justin

![Capture](https://user-images.githubusercontent.com/5491647/1183

[2021-05-15 02:45] keijiro commented on #70
You can use the `Point Cloud/Point` shader instead.

[2021-05-15 02:47] keijiro commented on #70
I don't know what V-PCC is, but it seems that there is no relevance between .ply and V-PCC. So, I have no comment.

[2021-05-15 02:47] keijiro commented on #70
I'm closing this issue now. Please feel free to reopen it for further problems.

[2021-05-15 02:47] #70 closed, assigned to keijiro

[2021-06-30 09:49] cansik commented on #46
Here an example on how to lazy-load PLY files:

1. Make `PlyImporter` and it's import methods (`ImportAsPointCloudData`, `ImportAsMesh`) `public`:

[code]

2. Add a `Point Cloud Renderer` component to a gameobject and use the following custom script:

[code]

@keijiro It is a nice feature for an exhibition where you have a realtime-scanning device.

[2021-07-07 03:02] svjetlonosha141 opened #71 "Unity MacOS error: Drawing with MeshTopology.Points, yet the vertex program 'Hidden/OpaqueSelection' does not have PSIZE output."
Hi Keijiro,
First of all - HUGE thank you for all the work you've put into this, I really appreciate it.

I am currently working on a VR project using Unity and came across a problem that appears only on MacOS.
Apologies if this issue already came up - I went through all of them and couldn't find anyone mentioning this nor providing a solution. Please see the details of the error below.
Any help i

[2021-07-07 03:17] keijiro commented on #71
Those warning messages are caused by the Scene View. It doesn't affect the quality of rendering. Please ignore them.

[2021-07-07 03:17] keijiro commented on #71
I'm closing this issue now. Please feel free to reopen it for further problems.

[2021-07-07 03:17] #71 closed, assigned to keijiro

[2021-07-07 05:10] svjetlonosha141 commented on #71
Thanks for a quick reply. Will ignore the warning then.
But do you maybe know how I can change this view so I can actually see points instead of these ugly rectangles? i am not able to see much details even when in game view...
Sorry if it's a silly question, I'm a beginner...

Thanks.

[2021-07-07 06:26] keijiro commented on #71
Try disabling "Apply Distance". See "Rendering Methods" on README.

[2021-07-07 06:29] svjetlonosha141 commented on #71
Thanks, problem solved, managed to get the points by playing with the mesh renderer and different materials.

[2021-07-07 14:03] UnityDevSan commented on #23
where is the texture variable (byte[]) from?

[2021-07-08 06:07] wodndb commented on #23
@Max-Stricker that is field of class which has the method `SaveToPly()'.

[2021-07-08 11:44] UnityDevSan commented on #23
Could you show me please?

[2021-07-09 00:19] wodndb commented on #23
@UnityDevSan Do you want to save vertex color? Actually I only use ply to save mesh without color now. So the source code for ply color is not exist now.

[2021-07-09 07:12] septianrazi commented on #46
Just seconding everyone else on this thread in regards to being able to do all this in runtime, I think it will be a very useful feature.

I am personally trying to download a .ply file from the web and visualising it in realtime. Exposing the ImportAsMesh as a public method and using it with the downloaded file path allows me to do it pretty easily.

[code]

@keijiro thank you again for creating

[2021-07-09 11:21] UnityDevSan commented on #23
short explanation: i get the same error as here. https://github.com/IntelRealSense/librealsense/issues/4820#issue-490678410
i can't export a ply file, so i wanted to copy your solution

[2021-07-10 14:30] wodndb commented on #23
@UnityDevSan

https://github.com/wodndb/ExportPlyForRealSense

I create example project for export point cloud to ply. Try it.

[2021-07-13 09:34] marcomameli1992 opened #72 "Installation on unity"
Dear I'm trying to install your plugin to my unity 2020.3.8f1 but I receive the error:
"
[Package Manager] Please select a valid package.json file in a package folder.
UnityEditor.GenericMenu:CatchMenu (object,string[],int) (at /Users/bokken/buildslave/unity/build/Editor/Mono/GUI/GenericMenu.cs:126)

"

How can I fix it?

[2021-07-13 12:02] keijiro commented on #72
Did you follow the instructions described in the "How to install" section of README.md?

[2021-08-11 04:38] keijiro commented on #72
I'm closing this issue due to inactivity. Please feel free to reopen for further problems.

[2021-08-11 04:38] #72 closed, assigned to keijiro

[2021-08-23 16:57] smokelore commented on #59
@keijiro is setting `var camera = Camera.main` the correct solution here? I am running into the same problem.

[2021-08-24 17:19] haitheredavid opened #73 "UPM package"
Hihi 👋🏻 I've been trying to reference the upm package for pcx but the package is currently not available due to build errors, looks like an issue with synced tags... Is it possible to have this build updated for a simple soul like myself to reference it as a dependency?

[2021-08-25 00:21] keijiro commented on #73
I'm pretty sure that there isn't any issue with npm.js. Could you re-check the instruction described in the "How to install" section?

If you still have issues with it, please copy-paste error messages.

[2021-08-25 17:02] haitheredavid commented on #73
Thanks for response. I re-visited the "how to install" section but I didn't see a solution to my issue. I just want to clarify that I'm building a OpenUPM package that lists `"jp.keijiro.pcx": "1.0.1"` as a dependency within my `package.json`. I can successfully reference the pcx package in my local project since I have it added to my scoped registry, but when I add my upm package to a new project

[2021-08-26 01:30] keijiro commented on #73
First of all, I have never used OpenUPM. So, I have no idea about what happening on the OpenUPM side.

If you want to solve problems with the Pcx package on OpenUPM, please contact the maintainer.

[2021-08-26 01:38] #73 closed, assigned to keijiro

[2021-09-16 14:27] keli95566 commented on #66
any update please?

[2021-09-16 16:32] keijiro commented on #66
I don't have any VR device for testing (I'm still WFH for the COVID situation).

[2021-09-16 20:27] keli95566 commented on #66
Hi there, thank you for responding!
At the moment, if I deploy it on Hololens, I only see the point cloud from the left lens. No rendering from the right lens

[2021-09-23 23:24] rishabhaggarwal2 commented on #46
Thanks @keijiro  for the awesome library, I was able to get the runtime import working using @cansik's method. However, when I try to build to the UWP, I get a bunch of errors of the type

[code]

Is there something else that needs to be done or somewhere the files need to be moved for the runtime import build to work?

[2021-10-22 13:45] ruiying commented on #66
followed [unity instruction on single pass instanced rendering](https://docs.unity3d.com/Manual/SinglePassStereoRendering.html)
adapted bee's shader
[singleDisk.zip](https://github.com/keijiro/Pcx/files/7397573/singleDisk.zip)

[2021-10-22 18:18] elwes commented on #66
It works! Just tested with Unity 2019 and 2020 on Win10. Thanks a lot for this!

[2021-10-25 02:14] Camille-FM commented on #66
@elwes  can you please specify what settings you are using to get that working? For Player settings but also the shaders. You took ruiying's singleDisk.cginc and changed Disk.shader to reference this file in the #include lines?

I am using an Oculus Quest 2 so in XR Plug-in Management have the Stereo Rendering Mode set to Multiview. I'm not entirely sure if my issues right now are due to lag of th

[2021-10-25 09:58] ruiying commented on #66
the shader we are talking about here is for "**single pass instanced**" rendering mode.
the lagging happens on the bee? or your own large scale data?

[2021-10-26 16:14] elwes commented on #66
@CamilleFirstMode I replaced the code from Disk.cginc with the code of singleDisk.cginc. Just copy/paste. Since I work on a PC with SteamVR-Unity-PlugIn (Unity 2020 and openXR) and set "Settings->XR Plug-in Managment->OpenVR->Stereo Rendering Mode->Single Pass Instanced".

Right now I can not help with the Quest2 (I have only a Quest1 and no time to set up something for it). The size of the disks

[2021-11-14 08:05] eternity123-null opened #75 "How can I use this to render pointcloud stream"

[2021-11-14 08:08] eternity123-null commented on #75
I want to render pointcloud real-time in Unity ,can I use this package?

[2021-11-14 09:38] keijiro commented on #75
You can render static point clouds, but it can't handle a point cloud stream.

[2021-11-14 09:38] keijiro commented on #75
I'm closing this issue now. Please feel free to reopen it for further problems.

[2021-11-14 09:38] #75 closed, assigned to keijiro

[2021-11-14 10:14] eternity123-null commented on #75
thank you very much！

[2021-12-02 16:23] PacsoftIta opened #76 "SV_VertexID semantic is not supported on GLES 2.0 at line 17 (on gles)"
Hi, I'm trying to build an app for android using your plugin. I'm getting this error everytime I put in the scene my point cloud (binary / little endian).  Could you help me?

[2021-12-02 22:59] keijiro commented on #76
As noted on README, the disk shader requires the geometry shader feature (GLES2.0 doesn't support it).

[2021-12-02 22:59] keijiro commented on #76
I'm closing this issue now. Please feel free to reopen it for further problems.

[2021-12-02 22:59] #76 closed, assigned to keijiro

[2021-12-08 11:21] armstrong0919 opened #77 "Shader - .ply in pink"
Hi Keijiro

Really thank you for your awesome work.
it's really really helpful.

I tried this project in Unity 2019.4
But shader is in pink.
Should I do something to deal with it?

![1638962213683](https://user-images.githubusercontent.com/64424751/145199922-9f679909-c8b5-4522-9f19-7e998f9555c8.jpg)

[2021-12-08 11:27] keijiro commented on #77
Which shader are you using? Which platform are you using? Which GPU are you using?  Does your GPU supports the shader?

[2021-12-08 14:53] armstrong0919 commented on #77
Hi keijiro
I'm sorry for this stupid question.
Because the problem is my GPU(Intel HD Graphics 5000) which is not support the shader.
And I use another PC(GeForce 1060) to test. The result is successful.

Thank you for reply.

[2021-12-09 01:32] keijiro commented on #77
Okay. I'm closing this issue.

[2021-12-09 01:32] #77 closed, assigned to keijiro

[2022-01-24 05:57] Blabab commented on #46
Hey. I'm having the same issue as everyone else. I'm working with a teacher who hopes to use this to have her students be able to import their own point clouds and visualize them. I got everything working using this

            var importer = new PlyImporter();
            Mesh mesh = importer.ImportAsMesh(destinationPath);
            var meshfilter = pointCloud.GetComponent<MeshFilter>().mesh =

[2022-01-24 08:07] septianrazi commented on #46
Hey @Blabab

So the way I got around this issue was to essentially to make a copy of the pcx package and import it in manually in the Assets folder (instead of it being in the package manifest as was the recommended installation method on the README of this repo) - this will allow us to edit the code within the Pcx package.

Once that is done, all you will need to do is find the ImportAsMesh funct

[2022-01-25 07:53] Blabab commented on #46
@septianrazi  Hey. Thanks for getting back to me. I tried your method but I still run into the same issue. This is my process.

-I import (one way or the other) the PCX project into unity

- I create a duplicate of PlyImporter and call it PlyImporterRuntime
- I expose PlyImporterRuntime and ImportAsMesh in runtime.
` public class PlyImporterRuntime : ScriptedImporter`
`public Mesh ImportAsMesh(str

[2022-03-02 16:31] dvdsmthdvd opened #78 "Disk shader issue"
Point shader works well, but I get a pink texture when I choose the disk shader. I'm not an expert with Unity shaders, but is this a package problem or something else?

[2022-03-03 03:33] keijiro commented on #78
The disk shader requires geometry shader support. Please check if your device supports geometry shaders.

(Hint: It's not supported on most platforms but on DX11)

[2022-03-03 03:33] #78 closed, assigned to keijiro

[2022-03-04 16:44] dvdsmthdvd commented on #78
Thank you so much for the reply. I’ve tried DX11 but it didn’t work. Still getting pink materials using the disk shader. Maybe an HDRP issue.
________________________________
From: Keijiro Takahashi ***@***.***>
Sent: Wednesday, March 2, 2022 10:34:07 PM
To: keijiro/Pcx ***@***.***>
Cc: dvdsmthdvd ***@***.***>; Author ***@***.***>
Subject: Re: [keijiro/Pcx] Disk shader issue (Issue #78)

The disk

[2022-03-08 15:02] sep-sabeti commented on #71
Could you elaborate how you solved it? I am having the same issue !

[2022-03-08 22:03] PockPocket opened #79 "Particles disappears when looked at from a specific direction."
Hi, do you know why my particles disappears when I move my camera in these specific ways (see video below) ? This happens in both the scene view and the game view from the camera. Also some kind of LOD banding effect seems to be obstructing the particles when looking from afar. Thanks alot !

https://drive.google.com/file/d/1VWsVgMt_cKWp13tWjQ0j_z3IlZOzMJ7t/view?usp=sharing

Mathieu.

[2022-03-09 01:52] keijiro commented on #79
Are you using VFX Graph? It seems that the VFX system is culled. You can extend the bounds to void being culled.

[2022-03-09 01:52] keijiro commented on #79
I'm closing this issue now. Please reopen it for further problems.

[2022-03-09 01:52] #79 closed, assigned to keijiro

[2022-03-10 17:53] PockPocket commented on #79
THANKS

[2022-03-22 06:53] 101kyul commented on #46
@Blabab Hello, did you solve the problems? I have exactly identical problems with you....
I build it on Android and got the error  he type of namespace "PlyImporterRuntime" name could not be found"
could you tell me how I can solve this?

Thank you again

[2022-03-22 07:55] 101kyul commented on #46
@septianrazi Hello I'm trying to build run-time by following your process. However, there are several errors in my project..
1) import the entire package into Asset folders
2) Find the file PlyImporter
3) follow the process @septianrazi proposed. " public class PlyImporterRuntime : ScriptedImporter "
4) In my private script, I use "var importer = new Pcx.PlyImporter();"
5) I also tried to make the

[2022-03-31 06:35] sushicab opened #80 ".ply file not generating particles in vfx graph"
Hi Keijiro,

Im testing VFX Graph in the PcxEffect3 project file with my own .ply file. The .ply's container type was selected as Texture. Already connected position & color map to set position & color from the map but particles were not generating/ showing in the Inspector.

I'm suspecting the color&position map which my .ply file contained has some missing information. (the .ply was generated fr

[2022-03-31 06:38] keijiro commented on #80
Could you provide the ply file?

[2022-03-31 08:44] sushicab commented on #80
Thanks for the quick response! sure! https://drive.google.com/file/d/165hPJ4mTBRps4kc0F7hjKRF8GoAhWYLb/view?usp=sharing

[2022-04-01 02:53] septianrazi commented on #46
So I'm not entirely sure what these issues are unfortunately

Best thing I can offer is the project that ive made public in which i did use this technique, feel free to have a look at it and see if you can find out the issue/just copy the technique:

https://gitlab.com/appf-anu/APPF-ANU-VR-Projects/xr-pointclouds/-/tree/main/Unity-XR-Pointclouds/Assets/Packages/jp.keijiro.pcx

[2022-04-11 04:27] sushicab commented on #80
Hi Keijiro,

sorry to bother you again, would you happen to have time to try the ply file?  your feedback would be much appreciated!

[2022-04-11 05:55] keijiro commented on #80
Unfortunately, no, I couldn't afford time for it.

[2022-04-15 20:48] nicktruch opened #81 "Unity Newbie needs help to use your package"
Hello
I'm really new to Unity and I can't find any tutorial either on youtube or on the web that explains how to use PCS package.
I've converted my .laz file to .ply binary file in CloudCompare, imported the .ply file in Unity as a new asset and dragged it on the scene and it won't appear. Is there any parameters or scripting to make the link between PCX package and point cloud assets ?
Any help w

[2022-04-24 04:38] 101kyul commented on #46
Hello. Thanks to you!
I was able to make a lot of progress.
However, I was faced with a big problem because I couldn't catch an error when I loaded the file saved by HTTP.
I am sorry to ask you a question again because I am so eager to see PointCloud on my Android.

These are the errors. It seems to be the streamreader can't read the header of the point cloud data. It was confirmed that the file w

[2022-05-02 10:10] svjetlonosha141 commented on #71
Hi Sep,
Sorry for a super late reply, but I am traveling and hence slack with emails and don't have access to Unity at the moment. From what I can remember, this issue was easily resolved by literally just changing the way Unity renders the point cloud. When you click on the point cloud in the scene (or down in the project files), the inspector should offer you different ways of rendering and "def

[2022-05-03 14:56] DarthKirtap commented on #46
I found way how to build it, issue is that you need UnityEditor.AssetImporters in PlyImporter but that is only avilible in editor, not in builded version. BUT you dont need all of the PlyImporter. So you can remove parts requiring inaccesible namespaces. Granted, it works only on Mesh import, but better then nothing.

[2022-05-13 07:21] tokuuuu commented on #71
I can't change "Apply Distance".
Property is grayed out.

Unity 2020.3.33

[2022-05-16 04:29] tokuuuu commented on #71
I could indicate ".Ply" data.

Unity 2019.4.39

Thanks.

[2022-06-24 02:27] wes-kay opened #82 "What is point size dependent upon?"
I'm not able to modify the size on my device, I understand "Only some platforms support point size properties" but what does that mean? If I was to build out with a point size of 1 does that mean that a device that supports it will render it at 1 in size?
This is all I'm able to see:
![image](https://user-images.githubusercontent.com/40011470/175449975-c19df6a7-1076-4a13-8c35-a17b7fad8ef7.png)

[2022-06-24 02:54] keijiro commented on #82
That depends on the case. It may work on iPhone (Metal), but I'm not sure about Android (Vulkan).

[2022-06-24 02:54] #82 closed, assigned to keijiro

[2022-06-25 20:40] PockPocket opened #83 "Point Size properties : Compatibility Check"
![image](https://user-images.githubusercontent.com/73412598/175789719-f3c8a598-652e-4dcc-bf4e-47970ba33dec.png)

Hi,

My Point Size Value dosen't seems to work. I'm trying to see if my version of Unity (2019.4.8f1) allows me to execute this operation but I can't seem to find where in the script the value should be set to 0.

What the PointCloudRender scripts:
![image](https://user-images.githubuse

[2022-06-26 08:05] Angratharr commented on #59
I have this same issue and tried modifying the PointCloudRenderer script to the above suggestion. However, the change reverts back because the package gets revalidated (I think).

here is the warning: The package cache was invalidated and rebuilt because the following immutable asset(s) were unexpectedly altered:
  Packages/jp.keijiro.pcx/Runtime/PointCloudRenderer.cs

How can I apply this fix?

[2022-06-26 11:34] keijiro commented on #83
Which platform (Graphics API) are you using? DX11 on Windows?

[2022-06-28 03:56] PockPocket commented on #83
Direct3D11 on Windows.

[2022-06-28 04:50] keijiro commented on #83
As noted on README, it doesn't work on DX11.

[2022-06-28 04:50] keijiro commented on #83
I'm closing this issue now. Please reopen it for further problems.

[2022-06-28 04:50] #83 closed, assigned to keijiro

[2022-07-15 07:18] 159chenJie159 opened #84 "Can't take pictures in Hololens"
I try to render point cloud in HoloLens, Pcx can get a good rendering effect, but when I take a photo, there is no point cloud in the photo. This is because the shader used by HoloLens is "MixedRealityStandard.shader", while the one used by Pcx is "Point.shader". I tried to modify it, but the two seem to be incompatible, is there any solution?

[2022-07-15 13:12] keijiro commented on #84
The short answer is no. You have to rewrite the shader.

I have no idea how to modify it as I don't have any experience on HoloLens.

[2022-07-15 13:12] #84 closed, assigned to keijiro

[2022-07-23 18:14] VjCatalyst opened #85 "Want to use the Compute buffer option."
Hello! Every time  I hit play in unity with the ply model in the scene set to computer buffer it gives me an error that says “object reference not set to an instance of an object”. Any advise would be great.

[2022-07-24 04:33] keijiro commented on #85
Could you provide a minimal project that reproduces the issue?

[2022-08-01 18:49] Dennis123121x2 opened #86 "PCX with MacBook M1 Arm Chip"
Does anyone have experience with the pcx package and the "new" Mac Arm Chips?

I'm using an M1 MacBook Pro and struggling to get the same performance as before with the older version.
Any tips and tricks? Any setting I've missed?

Thanks
<img width="2002" alt="Bildschirmfoto 2022-08-01 um 20 52 11" src="https://user-images.githubusercontent.com/16954347/182222395-f7e95181-63ff-48de-ad5b-0fa188371a

[2022-08-02 00:20] keijiro commented on #86
There is no known issue with M1/M2 Mac.

Unfortunately, it's not clear what's happening on your side from your screenshot.

You can submit a bug report to Unity using Bug Reporter if you find any problem with Unity.

[2022-08-02 00:20] keijiro commented on #86
I'm closing this issue as not reproducible. Please reopen it for further problems.

[2022-08-02 00:20] #86 closed, assigned to keijiro

[2022-08-02 07:52] Dennis123121x2 commented on #86
thanks!

[2022-08-15 15:25] Morrisssss opened #87 "unity extremely lag and slow"
<img width="1440" alt="截圖 2022-08-15 下午10 57 04" src="https://user-images.githubusercontent.com/82313155/184661519-ddb2b008-d563-4469-867e-0c47ae106bb5.png">
<img width="1440" alt="截圖 2022-08-15 下午10 49 47" src="https://user-images.githubusercontent.com/82313155/184661530-5ee97d50-caae-437b-98a7-15f62f20a9f0.png">

I've import my ply point cloud model into Unity.
It's a model of alley. As you can

[2022-08-15 15:57] keijiro commented on #87
How many points in the point cloud?

[2022-08-15 16:58] Morrisssss commented on #87
It supposed to be Ten million points.
but I don't know the differences between tie points and points.

I shot a screenshot.

<img width="1440" alt="截圖 2022-08-16 上午12 45 08" src="https://user-images.githubusercontent.com/82313155/184680358-d91f8d12-0273-4fef-9885-01d0701d9fae.png">

thank so much for your help

[2022-08-16 09:03] keijiro commented on #87
You can inspect the real point count on Unity Editor.

[2022-08-16 09:06] keijiro commented on #85
I'm closing this issue due to inactivity. Please reopen it for further problems.

[2022-08-16 09:06] #85 closed, assigned to keijiro

[2022-08-16 10:08] Morrisssss commented on #87
<img width="1440" alt="截圖 2022-08-16 下午6 04 15" src="https://user-images.githubusercontent.com/82313155/184853834-b9191307-fecb-498d-9b56-65e41c08dd9e.png">

Sorry, I can't find the point count in Unity.
Could you tell me the position of the point count?

Thanks so much for your help.

[2022-08-16 11:58] keijiro commented on #87
Press "▶️" on the .ply file asset and select a mesh object in it.

[2022-08-16 14:04] Morrisssss commented on #87
thanks a lot
I find it
It have Ten million points.

<img width="1440" alt="截圖 2022-08-16 下午10 00 46" src="https://user-images.githubusercontent.com/82313155/184899530-ff88284c-fbd3-4d3c-9e51-da821ed1942e.png">

[2022-08-16 14:44] keijiro commented on #87
Simply saying, 10 million is too much. I'd recommend reducing points.

[2022-08-16 14:44] #87 closed, assigned to keijiro

[2022-11-13 01:08] chuan-chu commented on #80
The header probally has problem. My PCL library cannot read it.
---
ply
format binary_little_endian 1.0
comment VCGLIB generated
element vertex 4361100
property float x
property float y
property float z
property float nx
property float ny
property float nz
property uchar red
property uchar green
property uchar blue
property uchar alpha
element face 0
property list uchar int vertex_indices
property